<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <%= link_to "| FLASHCARDS |", root_path, class: "navbar-link", id: "navLogo" %>
    </li>
    <li class="navbar-item">
      <%= link_to "Home", root_path, class: "navbar-link" %>
    </li>
  </ul>
  <div>
    <ul class="navbar-list">
      <% if current_user %>
        <li>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-link", id: "signOutBtn" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Log In", new_user_session_path, class: "navbar-link" %>
        </li>
        <li>
          <%= link_to "Sign Up", new_user_registration_path, class: "navbar-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
