<%= simple_form_for([@deck, @deck.cards.build]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="new-card-form">
    <%= f.input :question, label: "Question", placeholder: "Question", label: false, input_html: { autocomplete: "off" } %>
    <%= f.input :answer, label: "Answer", placeholder: "Answer", label: false, input_html: { autocomplete: "off" } %>
    <%= f.input :tags, label: "Tags", placeholder: "Tags", label: false, input_html: { autocomplete: "off" } %>
    <%= f.button :submit, 'Add Card' %>
  </div>
<% end %>
