<%= simple_form_for(@deck) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="edit-deck-form">
    <%= f.input :name, placeholder: "Name", label: false %>
    <%= f.button :submit, 'Update Deck' %>
  </div>
<% end %>
